export(mapHaldane)
export(invHaldane)
export(mapKosambi)
export(invKosambi)
export(meiose)
export(sex)
export(encode)
export(asGenome)
export(makeGenome)
export(checkGenome)
export(scoreAdditive)
export(scoreDominance)
export(scoreHomozygous)
export(popCorrelation)
export(theoryCorrelation)
export(corrImg)
export(addChromosomeLines)
export(asPopulation)
export(crossIndep)
export(subsetPopulation)
export(filterPopulation)
export(subsetGenome)
export(markerPureDom)
export(markerPureRec)
export(markerHybrid)
export(markerIntercross)
export(markerBackcross)
export(markerRandom)
export(locationUniform)
export(locationRegular)

