export("mapHaldane", "invHaldane", "mapKosambi", "invKosambi", "meiose", "sex", "encdoe", "asGenome", "makeGenome", "checkGenome", "scoreAdditive", "scoreDominance", "scoreHomozygous", "popCorrelation", "theoryCorrelation", "corrImg", "addChromosomeLines")
